﻿.GridHeader
{
    font-family: Tahoma;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #0091D7;
    padding-left: 20px;
    text-align: left !important;
    height: 30px;
}
.GridRowStyle
{
    font-family: Tahoma;
    font-size: 11px;
    color: #000000;
    background-color: #D5F0FF;
    text-align: left;
    height: 22px;
    padding-left: 20px;
}
.GridRowStyle:hover
{
    color: #000000;
    background-color: #B3E7FF;
    padding-left: 20px;
    font-family: Tahoma;
    font-size: 11px;
    text-align:left;
    height: 22px;
}
.GridAlternativeRow
{
	font-family: Tahoma;
	 font-size: 11px;
	color: #000000;
	background-color: #97DBFF;
	text-align:left; 
	padding-left: 20px;
	height: 22px;
}
.GridAlternativeRow:hover
{
    color: #666666;
    	padding-left: 20px;
    background-color: #B3E7FF;
    font-family:Tahoma;
    font-size:11px;
    text-align:left;
    height:22px;    
}
.GridSelectedRow
{
	font-family: Tahoma;
	 font-size: 11px;
	color: #000000;
	background-color: #2DECEC;
	text-align: center;
	padding-left: 10px;
	height: 22px;
}
.GridFooterStyle
{
    font-family: Tahoma;
    font-size: 11px;
    color: White;
    background-color: #0088CC;
    
}
.FormAlternativeRow
{
	font-family: Tahoma;
	 font-size: 11px;
	color: #000000;
	background-color: #97DBFF;
	text-align:left;
	padding-left: 10px;
	height: 22px;
}

.FormRowStyle
{
	font-family: Tahoma;
	 font-size: 11px;
	color: #000000;
	background-color: #D9F2FF;
	text-align:left;
	padding-left: 10px;
	height: 22px;
}
.GridFooter
{
    font-family: Tahoma;
    font-size: 11px;
    color: #FFFFFF;
    background-color: #0088CC;
    padding-left: 10px;
    height: 25px;
    text-align:left;
}
.PaddingLeft
{
    padding-left:20px; 
}
.GridHeaderPadding
{
	font-family: Calibri;
	 font-size: 11px;
	color: #FFFFFF;
	background-color: #0088CC;
	padding-left: 20px;
	text-align:left !important;
	height:30px;
}