﻿.modalBackground
{
    background-color: #000;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.modalPopup
{
    background-color: #F2F2F2;
    width: 388px;
    height: 335px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -mz-border-radius: 10px; /* padding: 15px;*/
}

.InnerPopupDiv
{
    
    width: 352px;
    height: 299px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -mz-border-radius: 10px; 
    margin:15px;
}
a, img
{
    border: 0px;
}.popupCancelButton
{
margin-left: 360px;
margin-top: -95px;
    position:absolute;
    background-image:url('../../images/deleteimg.png'); background-repeat:no-repeat;
    width:28px;
    height:28px;
    cursor:pointer;
    }.popuprow{width:715px; height:32px; float:left; margin-bottom:10px;}
.Popup-Font2{width: 175px;text-align: left;color: #565656;font-size:14px; font-family: 'OpenSans-Semibold';height:30px; line-height:30px;float:left;}
.PopupBody
{
    background: url("../../images/popup_body_bg.png") repeat-x scroll 0 0 transparent;
    border-bottom: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-right: 3px solid #FFFFFF;
    float: left;
    height: auto;
    width: 350px;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    border-left-color: #CCCCCC;
}
.PopupTextOuter{width: 233px;height:32px; line-height:30px;float:left;}
.PopupTextbox{width: 221px;height:32px; float:left; border:1px solid #d8d8d8; line-height:30px; padding:0 5px;}/*d8d8d8*/
.PopupContent{width:715px; float:left;}
.HeadingPOpup{ background: url("../../images/popup_header_bg.png") repeat-x scroll 0 0 transparent;
    border: 3px solid #CCCCCC;
    border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
    height: 59px;
    width: 350px;
    
    }
.Validation{font-size:12px; font-family:Tahoma; color:Red;}

.txtBox{  
    border: medium none;
    color: #4B7ABD;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
    width: 310px;
     font-family: alte_haas_groteskregular;
    font-size: 14px;
}

    .HeadingPOpup h3{  
 color: #666666;
     font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
   line-height:25px;
   margin-top:20px;
}
.loginbtn{ 
 text-align: left;
 float:left; margin:20px 0px; 
 width:72px;
}