.Level1
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	COLOR: #0000FF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none; 
	BACKGROUND-COLOR: #CCCCCC; 
	vertical-align: sub; 
	text-align: left ;
	border: 1;
	border-color: #000000;
}
.lblError{font-family: Verdana;font-size: 12px;color: #FB0000;text-align:left;}
.Level2
{
	FONT-WEIGHT: normal ; 
	COLOR: #000000; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	BACKGROUND-COLOR: #DDDDDD; 
	TEXT-DECORATION: none; 
	BACKGROUND-COLOR: Transparent ; 
	
}

.AppHead
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	COLOR: #000000; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none; 
	BACKGROUND-COLOR: #ff9900; 
	vertical-align: sub; 
	text-align: left ;
	border: 1;
	border-color: #000000;
}

.AppBody
{
	FONT-WEIGHT: normal ; 
	FONT-SIZE: 10px; 
	COLOR: #000000; 
	FONT-FAMILY: Verdana , Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none; 
	BACKGROUND-COLOR: #E8D3A2 ; 
	vertical-align: sub ; 
	text-align: left ; 
	
	
}

.AppCustomMsg
{
	font-weight: bold;
	font-size: 11px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-color: Transparent;
	text-align: left;
}

.AppErrorMsg {
	FONT-SIZE: 10px; 
	COLOR: #FF3333; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none; 
	BACKGROUND-COLOR: Transparent ; 
	text-align: left;
}

.AppMenu
{
	font-weight: bold;
	font-size: 11px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-color: Transparent;
	BACKGROUND-COLOR: #FF9900;
	
}

.AppTitle
{
	font-weight: bold;
	font-size: 11px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-color: Transparent;
	BACKGROUND-COLOR: #FF9900;
	
}

.AppFooter
{
	text-align: center;
	font-weight: bold; 
	font-size: 10;
	width: 975px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 20px;
	background-color: #FF9900;
}

.TABHEADER
{
	font-weight: bold;
	font-size: 15px;
	color:Black;
	background-color: Silver
}

.TABBODY
{
	background-color : transparent; 
	font-size: 9px; 
	font-weight:  normal; 
	border: #FF9900;
	color: #466b8b;
}

BODY
{
	font-size: 8pt;
	font-family: Verdana, Arial;
	BACKGROUND-COLOR: #f8f4e0;
    
}

.Label
{
	font-size: 8pt;
	font-family: Verdana, Arial;
	font-weight:bold 
}

.FONTTEXTHEAD
{
	font-size: 12px;
	z-index: 1;
	font-weight: bold;
	font-family: Verdana;
	height: 20px;
	background-color: transparent;
}

TD.details
{
	text-align: center;
	margin-top: 15px;
}

TR.DataGrid_SelectedItemStyle
{
	font-weight: bold;
	Color: Navy;
	background-color: #9CF; 
}

TR.DataGrid_ItemStyle
{
	background-color: #FFC;
}

TR.DataGrid_HeaderStyle 
{
	color: White;
	background-color:  Aqua; 
	font-family: Verdana;
	font-weight: bold;
	line-height: normal;
}

TR.DataGrid_HeaderStyle A
{
	text-decoration:	underline;
	color:	White;
}

TR.DataGrid_HeaderStyle A:visited
{
	text-decoration:	underline;
	color:	White;
}

TR.DataGrid_HeaderStyle A:hover
{
	text-decoration:	none;
	color:	#9CF;
}

TR.DataGrid_FooterStyle
{
	background-color: #9CF; 
}

TR.DataGrid_PagerStyle
{
	color: White;
	background-color: #CCC; 
	font-family: Verdana;
	font-weight: bold;
	text-align: left;
}

.CustomPaging
{
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
}

A:hover {
	COLOR: #466888; 
	TEXT-DECORATION: none;
}

A
{
	color:  #000000;
	text-decoration:  none;
}
H1
{
	font-weight: bold;
	font-size: 10pt;
	color: white;
	font-family: Verdana, Arial;
	background-color: lightslategray;
}
TABLE
{
	font-size: 8pt;
	color: #000000;
	font-family: Verdana, Arial;
}
TD
{
	font-size: 8pt;
	color: #000000;
	font-family: Verdana, Arial;
	}
TR
{
	font-size: 8pt;
	color: #000000;
	font-family: Verdana, Arial;
}
INPUT
{
	font-size: 8pt;
	color: #800000;
	font-family: Tahoma, Arial, Verdana; 
	width:150px;
}
SELECT
{
	font-size: 8pt;
	color: #800000;
	font-family: Tahoma, Arial, Verdana;
}
.code
{
	font-size: 8pt;
	font-family: Courier New;
}
.SmallLink
{
	font-size: 8pt;
	font-family: Arial;
	text-decoration: underline;
}
.mainheader
{
	font-weight: bold;
	font-size: 10pt;
	font-family: Arial;
}
.ArticleH2
{
	font-weight: bold;
	font-size: 12pt;
	color: #6699cc;
	font-family: Arial;
}
.ChapterTitle
{
	font-size: 18pt;
	color: #6699cc;
	font-family: Times New Roman;
}
.ChapterH1
{
	font-size: 14pt;
	font-family: Verdana, Arial;
}
.ChapterH2
{
	font-weight: bold;
	font-size: 12pt;
	font-family: Times New Roman,Verdana, Arial;
}
.ChapterH3
{
	font-weight: bold;
	font-family: Verdana, Arial;
}
.smallheader
{
	font-weight: bold;
	font-size: 8pt;
	font-family: Arial;
}
.highlight
{
	background-color: #ffff00;
}
.tbcaption
{
	font-size: 8pt;
	color: #ffffcc;
	font-family: Arial;
}
.barsidecaption
{
	font-size: 8pt;
	color: #800000;
	font-family: Arial;
}
.ArialB8
{
	font-size: 8pt;
	font-family: Arial;
}
TABLE.tbcaption:link
{
	font-size: 8pt;
	color: #ffffcc;
	font-family: Arial;
}
TD.tbcaption:link
{
	font-size: 8pt;
	color: #ffffcc;
	font-family: Arial;
}
A.tbcaption:hover
{
	font-size: 8pt;
	color: #800000;
	font-family: Arial;
}
H4
{
	font-weight: bolder;
	font-size: 10pt;
	color: navy;
	font-style: normal;
	font-family: Verdana;
}
H5
{
	font-weight: bolder;
	font-size: 9pt;
	color: #03366b;
	font-family: Verdana;
}
H6
{
	font-weight: bolder;
	font-size: 9pt;
	color: maroon;
	font-family: Verdana;
}
.Textfield
{
	border-right: silver thin outset;
	border-top: silver thin outset;
	padding-left: 1pt;
	border-left: silver thin outset;
	color: #800000;
	padding-top: 1pt;
	border-bottom: silver thin outset;
	font-family: Verdana;
	background-color: papayawhip;
}
.insertb
{
	border-right: thin;
	border-top: thin;
	font-size: 0%;
	background-image: url(images\insert.jpg);
	border-left: thin;
	width: 100px;
	color: white;
	border-bottom: thin;
	font-family: Verdana;
	height: 22px;
	background-color: transparent;
}
.editb
{
	border-right: thin;
	border-top: thin;
	font-weight: lighter;
	font-size: 0pt;
	background-image: url(images\edit.jpg);
	border-left: thin;
	width: 100px;
	color: white;
	border-bottom: thin;
	font-family: Verdana;
	height: 22px;
}
.deleteb
{
	border-right: thin;
	border-top: thin;
	font-size: 0%;
	background-image: url(images\delete.jpg);
	border-left: thin;
	width: 100px;
	color: white;
	border-bottom: thin;
	font-family: Verdana;
	height: 22px;
}
.saveb
{
	border-right: thin;
	border-top: thin;
	font-size: 0%;
	background-image: url(images\save.gif);
	border-left: thin;
	width: 100px;
	color: white;
	border-bottom: thin;
	font-family: Verdana;
	height: 22px;
}
.resetb
{
	border-right: thin;
	border-top: thin;
	font-size: 0px;
	background-image: url(images\resetb.jpg);
	border-left: thin;
	width: 100px;
	color: white;
	border-bottom: thin;
	font-family: Verdana;
	height: 22px;
}
.loginb
{
	border-right: thin;
	border-top: thin;
	font-size: 0px;
	background-image: url(images\loginb1.gif);
	border-left: thin;
	width: 100px;
	color: white;
	border-bottom: thin;
	font-family: Verdana;
	height: 22px;
}
.backb
{
	border-right: thin;
	border-top: thin;
	font-size: 0%;
	background-image: url(images\backb.gif);
	border-left: thin;
	width: 100px;
	color: white;
	border-bottom: thin;
	font-family: Verdana;
	height: 22px;
	background-color: transparent;
}
.updateb
{
	border-right: thin;
	border-top: thin;
	font-size: 0%;
	background-image: url(images\update.gif);
	border-left: thin;
	width: 100px;
	color: white;
	border-bottom: thin;
	font-family: Verdana;
	height: 22px;
}
.viewb
{
	border-right: thin;
	border-top: thin;
	font-size: 0%;
	background-image: url(images\view.gif);
	border-left: thin;
	width: 100px;
	color: white;
	border-bottom: thin;
	font-family: Verdana;
	height: 22px;
}
.submitb
{
	border-right: thin;
	border-top: thin;
	font-size: 0%;
	background-image: url(images\submit-button.gif);
	border-left: thin;
	width: 50px;
	color: white;
	border-bottom: thin;
	font-family: Verdana;
	height: 22px;
}
H3
{
	font-weight: bolder;
	font-size: 8pt;
	color: lightslategray;
	font-family: 'Century Gothic';
}
.cc_Visible
{
	font-size: 10pt;
	visibility: visible;
	cursor: hand;
	font-family: Verdana;
}
.cc_Hidden
{
	display: none;
	font-size: 10pt;
	visibility: hidden;
	font-family: Verdana;
}
.replace_h5
{
	font-weight: bolder;
	font-size: 12pt;
	color: #03366b;
	font-family: 'Book Antiqua' , Verdana;
}
.replace_h6
{
	font-weight: bolder;
	font-size: 9pt;
	color: maroon;
	font-family: Verdana;
}
.replace_h1
{
	font-weight: bold;
	font-size: 10pt;
	color: white;
	font-family: Verdana, Arial;
	background-color: lightslategray;
}
.wcd_details
{
	font-size: 10pt;
	color: maroon;
	font-family: Verdana, Garamond;
}
.HeaderStyle
{
	font-weight: bold;
	font-size: 8px;
	color: 1c3880;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-color: Transparent;
	text-align: center;
}
.FooterStyle
{
	font-weight: bold;
	font-size: 8px;
	color: #007263;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-color: Transparent;
	text-align: center;
}
.ItemStyle
{
	font-weight: normal;
	font-size: 10px;
	color: #990000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-color: Transparent;
	text-align: center;
}
.SelectedItmeStyle
{
	font-weight: bold;
	font-size: 10px;
	color: #6A317A;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-color: Transparent;
	text-align: center;
}
.EditItemStyle
{
	font-weight: bold;
	font-size: 10px;
	color: #FF9900;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-color: Transparent;
	text-align: center;
}
.GridStyle
{
	font-weight: normal;
	font-size: 11px;
	color: Maroon;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-color: Transparent;
	text-align: center;
}

.HeadingName
{
    margin-left:10px;
}

