﻿body{margin:0;padding:0; color: #878787;font-size: 12px; width:100%; font-family:Verdana,Arial,Helvetica,sans-serif;}
/*** Reset CSS Start***/
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,legend,fieldset { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
tr,td
{ padding-bottom:3px;
 }
abbr,acronym { border:0;
}
	@font-face {
				font-family: 'OpenSans-Semibold';
				src: url('../../images/font/opensanssemibold.eot');
				src: url('../../images/font/opensanssemibold.eot?#iefix') format('embedded-opentype'),
						 url('../../images/font/opensanssemibold.woff') format('woff'),
						 url('../../images/font/opensanssemibold.ttf') format('truetype'),
						 url('../../images/font/opensanssemibold.svg#opensanssemibold') format('svg');
				font-weight: normal;
				font-style: normal;
		}
/*** Reset CSS end***/
.heaer-Outer{width: 100%;height: 89px; background: url("../../images/blueheaderrep.png") repeat-x scroll 0 0 transparent; }
.header-outer-inner{width:960px; height:89px; margin:0 auto;}
.header-outer-inner .LogoInner{width: 300px;height: 89px;float:left;}
.Logo{ width:400px;height: 67px;text-align:left; /*background-image: url('../../images/admin/white-logo.png');background-repeat: no-repeat;*/ line-height:45px; margin-top:20px; font-family:Tahoma; font-size:22px;/* font-weight:bold; */color:#FFF; }

/*********Body************/
.body-Outer{background-image: url('../../images/admin/body-bg.jpg');height:450px; background-repeat:repeat-x;}
.body-Outer .Inner-Body{width:960px; margin:0px auto; height:450px;}
.body-Outer .Inner-Body .login-Body-Inner{width:562px; height:234px; float:left; border:2px Solid #f6f6f6; margin-top:80px; margin-left:199px;-moz-box-shadow: -1px -16px 19px #dcdcdc;-webkit-box-shadow: -1px -16px 19px #dcdcdc;box-shadow: -1px -16px 19px #dcdcdc;}
.body-Outer .Inner-Body .login-Body-Inner .Inner-body{margin-top:23px; width:560px; float:left;} 
.body-Outer .Inner-Body .login-Body-Inner .Part1 {width:160px; height:150px; float:left; margin-left:20px; padding-left:20px; float:left;}
.body-Outer .Inner-Body .login-Body-Inner .Text-Div{font-family:Verdana; font-size:9px; width:190px; color:#878787; margin:0px; padding-left:10px;text-align:center;}
.body-Outer .Inner-Body .login-Body-Inner .Input-Field{width:355px; height:150px; float:left;}
.body-Outer .Inner-Body .login-Body-Inner .Input-Field .Inner-set{width:355px; height:100px; float:left;}
.body-Outer .Inner-Body .login-Body-Inner .Input-Field .Heading-outer{width:355px; height:50px; float:left;}
h2{font-family: Verdana;font-size: 18px;color: #3A93CD;margin:0px; padding:0px;}
.Outer-sub-heading{font-family:Verdana; font-size:12px; color:#878787; float:left; height:20px;  line-height: 22px;width: 96px;}
.Textbox-Outer{width:250px; height:35px; float:left;}
.textbox{border:1px Solid #cecccc; background-color:transparent; width:210px; height:20px; font-family:Verdana; font-size:12px;}
.ValidationError{font-family:Verdana; font-size:15px; color:Red;}
/******* Footer ********/
.FooterOuterClass{width:100%; height:35px; line-height:30px; background-color:#3A93CD; color:#FFF; text-align:center; font-family:Verdana; font-size:11px;}


/***********Other Page Bady****************/
.WelcomeNote{height: 45px;float:right; margin-top:15px; }
/*.WelcomeNote .WelcomeUser{height: 45px;float:left; line-height:45px; font-family:Verdana; font-size:12px; color:#878787;}*/
.WelcomeNote .LogoutPortaion{height:45px; line-height:45px; float:right;}
.WelcomeNote .LogoutPortaion ul{display:block; margin:0px; padding:0px;}
.WelcomeNote .LogoutPortaion ul li{display:inline; margin:0px; padding:0px;}
.WelcomeNote .LogoutPortaion ul li a{display:inline; font-family:Verdana; font-size:12px; color:#FFF; text-decoration:none; padding:0 15px;}
.WelcomeNote .LogoutPortaion ul li a:hover{text-decoration:underline;}
.WelcomeNote .LogoutPortaion ul li:after{content: "|"; font-size:15px; color:#FFF;}
.WelcomeNote .LogoutPortaion ul li:last-child:after{content: ""; }

.Logo1{ width: 199px;height: 45px;background-image: url('../../images/logo.png');background-repeat: no-repeat; margin-top:21px; margin-left:10px; }

/*********Menu****************/
.Outer-Menu-Outer{background-image: url('../../images/admin/top-Menu-bg.jpg'); background-repeat:repeat-x; width:100%; height:38px;}
.Outer-Menu-Outer .inner-menu-Div{width:100%; height:38px; margin:0 auto;}
.Outer-Menu-Outer .inner-menu-Div .Main-Menu{width:100%; height:38px; float:left;}
.Outer-Menu-Outer .inner-menu-Div .Main-Menu ul{display:block; padding:0px; line-height:34px; height:38px; margin:0px;}
.Outer-Menu-Outer .inner-menu-Div .Main-Menu ul li {display:inline; height:38px;}
.Outer-Menu-Outer .inner-menu-Div .Main-Menu ul li a{color: #FFF;font-family: Verdana;font-size: 14px;padding: 8px 20px 11px;text-decoration: none;}
.Outer-Menu-Outer .inner-menu-Div .Main-Menu ul li a:hover{background-color: #2970AF;}

/***********Body Page*****************/
.Content-Body{width:100%; height:100%; overflow:hidden; float:left}
.Content-Body .Content-left-Body{width: 15%;height:1300px;float:left;}
.Content-Body .Content-left-Body .Content-left-inner-Body{height: 1300px;float: left;border-right: 1px Solid #E3E3E3;float: left;background-color: #F9FBFD; width:91%;}
.Content-Body .Content-right-Body{width: 84%;height: 1300px; float:left;}
.Content-Body .Content-right-Body .Content-right-inner-Body{height: 100%;/* margin-left:30px; margin-top:20px; */width:75%; float:left;}
.content-left-column-in{float: left;width: 100%;text-align: left;margin: 0px 0px 0px 0px;border-bottom: 1px Solid #d7dfe4;height: 25px;}
.content-left-upper-link{float: left;color: #1878b6;font-weight: bold;font-size: 14px;text-align: left;border-bottom: 1px solid #cccccc;width: 89%;height: 45px;line-height: 45px;padding-left: 20px;font-family: Verdana;background-color: #fcfcfc;}
.content-left-upper-link a{text-decoration: none;color: #1878b6; }
.content-left-upper-link a.active{float: left;text-decoration: none;background-position: right 5px;width: 89%;color: #666666;font-weight: bold;font-size: 14px;background-color: #edf4f8;}
.content-left-upper-link.active{float: left;text-decoration: none;background-position: right 5px;width: 89%;color: #666666;font-weight: bold;font-size: 14px;background-color: #edf4f8;}
.content-left-upper-link:hover{float: left;text-decoration: none;background-position: right 5px;width: 89%;color: #666666;font-weight: bold;font-size: 14px;background-color: #edf4f8;}
.content-left-upper-link a:hover{text-decoration: underline;float: left;/*background-position: right 5px;*/width: 184px; color:#666666;}

.Content-Body .Content-right-Body .Content-right-inner-Body{height: 100%; /*margin-left:30px; */width:99%;}
.OuterHeading{height: 55px;width: 97%;float: left;border-bottom: 1px Solid #ADADAD; line-height:50px;}
h3{font-family: Verdana;font-size: 24px;color: #666666;text-align: left;}
.Inner-Body-Content{margin:20px 15px; float:left; width:94%;  height:20px; float:left;}
.Inner-Heading-body-Content{font-family: Verdana;font-size: 18px;color: #FFF;background-color: #599BD8;padding-left:21px;height:35px;line-height:35px; float:left; width:98%;}
.Inner-Body-body-Content{font-family: Verdana;font-size: 18px;color: #FFF;/*background-color: #F2F2F2;height:1300px;*/float:left; width:100%;}
.Inner-Body-body-inner-Content{font-family: Verdana;font-size: 18px;color: #FFF;/*background-color: #F2F2F2;*/ height:100%;float:left;width:100%;}
.Inner-Body-body-inner-Content .Part1{font-family: Verdana;font-size: 18px;color: #FFF;background-color: #F2F2F2; height:100%;float:left; width:75%;}
.Inner-Body-body-inner-Content .Part2{font-family: Verdana;font-size: 18px;color: #FFF;background-color: #F2F2F2; height:100%;float:left; width:25%;}
.Content-column-font-outer{width: 175px;text-align: right;color: #666666;font-size:12px; font-family:Verdana; font-weight:bold; height:25px; line-height:25px;float:left; margin-top:9px;}
.Content-column-font-outer1{width: 175px;text-align: left;color: #666666;font-size:12px; font-family:Verdana; font-weight:bold; height:25px; line-height:12px;float:left; margin-top:9px;}
.Content-column-font-outer2{width: 125px;text-align: right;color: #666666;font-size:12px; font-family:Verdana; font-weight:bold; height:25px; line-height:25px;float:left; margin-top:9px;}

.TextBox-outer{width: 213px; 
float:left; height:35px; padding-left:10px; line-height:35px; margin-top:7px;
}
.TextBox-outer1{width: 500px; float:left; height:35px; padding-left:10px; line-height:35px; margin-top:7px;}
.TextBox-Inner{border:1px Solid #CCCCCC;width: 165px;float: left;height: 25px;padding-left:5px; padding-right:5px;background-color: #FEFEFE; font-family:Verdana; font-size:12px; color:#666;resize:none;}
.Dropbox-Inner{border:1px Solid #CCCCCC;width: 170px;float: left;height: 25px;padding-left:5px; background-color: #FEFEFE; font-family:Verdana; font-size:12px; color:#666; line-height:25px;}
.PictureOuter{width:100%; float:left;   height:500px;} 
.PictureOuter .InnerPictureDiv{width:84%; margin:20px; float:left;   height:500px;} 
.PictureOuter .InnerPictureDiv .MainHeadingOverView{float:left;height:30px; padding-left:10px; width:90%; font-family:Verdana; font-size:13px; color:#878787;} 
.PictureOuter .InnerPictureDiv .PicUpload{float:left;height:50px;width:215px; height:150px; font-family:Verdana; font-size:13px; color:#878787; border:1px Solid #acacac;} 
.PictureOuter .InnerPictureDiv .Uploadimages{float:left;height:30px;width:90%; font-family:Verdana; font-size:13px; color:#878787; margin-top:10px;} 
.Error-Outer{width:98%; height:35px; line-height:35px; float:left;color: #FB0000; margin-left:15px;font-family: Verdana;font-size: 12px;}
.lblError{font-family: Verdana;font-size: 12px;color: #FB0000;text-align:left;}
.Content-column-font-outer-1{width: 80px;text-align: right;color: #666666;font-size:12px; font-family:Verdana; font-weight:bold; height:25px; line-height:25px;float:left; margin-top:9px;}
.Content-column-font-outer-2{width: 100px;text-align: right;color: #666666;font-size:12px; font-family:Verdana; font-weight:bold; height:25px; line-height:25px;float:left; margin-top:9px;}
.Content-column-font-outer-3{width: 100px;text-align: right;color: #FFF;font-size:12px; font-family:Verdana; font-weight:bold; height:25px; line-height:25px;float:left; margin-top:9px;}
.Content-column-font-outer-4{width: 80px;text-align: right;color: #FFF;font-size:12px; font-family:Verdana; font-weight:bold; height:25px; line-height:25px;float:left; margin-top:9px;}
.Textbox-Outer-2{width:570px; height:75px; float:left;}
.Font2{width: 175px;text-align: left;color: #666666;font-size:12px; font-family:Verdana; font-weight:bold; height:25px; line-height:25px;float:left;}
.row{width:100%; height:40px; float:left; }
.BorderRight{ border-right:1px solid #878787; padding-right:10px;}
.MenuOuter{width:100%; height:40px; /*background-color:Red; background-image:url('../../images/Menubg.png'); */background-repeat:repeat-x; float:left;}
.MenuOuter .MenuOuterInner ul{display:block;}
.MenuOuter .MenuOuterInner ul li{display:inline; height:54px;}
.MenuOuter .MenuOuterInner ul li a{font-family: 'OpenSans-Semibold';font-size:15px; color:#FFF; text-shadow: black 0.1em 0.1em 0.2em; text-transform:uppercase; text-decoration:none;padding: 14px 18px 14px 19px; line-height:21px; margin-top:1.5px; background-image:url('../../images/Split.png'); background-repeat:no-repeat; background-position:right center; float:left;}
.MenuOuter .MenuOuterInner ul li a.last{background:none; padding-right:22px;}
.MenuOuter .MenuOuterInner ul li a:hover{ background-color:#277ca1; }
.MenuOuter .MenuOuterInner ul li a.last:hover{ background-color:#277ca1; padding-right:22px;}
.MenuOuter .MenuOuterInner ul li a.last:active , .selected2{background-color:#277ca1;}
.MenuOuter .MenuOuterInner ul li a.first:hover{ background-color:#277ca1;}
.MenuOuter .MenuOuterInner ul li a.first:active , .selected{ background-color:#277ca1;}
.DropDownList1{width:292px; height:33px;float:left; border:1px Solid #ced8df; font-family:Verdana; font-size:16px; color:White; padding:5px; background-color:Black;}
select{width:270px; height:25px;float:left;/* border:1px Solid #ced8df;*/ border:1px Solid #ccc; font-family:Verdana; font-size:13px; color:White; padding:2px;background-color:Black;}
.servicestextbox{border:1px Solid #cecccc; background-color:transparent; width:290px; font-family:Verdana; font-size:12px; padding:5px;}
.btn{background-color: #cccccc;border: 1px solid #787878;cursor: pointer;font-size: 13px;font-weight: 400;padding: 2px 2px;margin-right: 8px;width: auto;}
.ChkUserType input{margin-right:5px;}
.ChkUserType label{margin-right:5px; }
.Font3{text-align: left;color: #666666;font-size:12px; font-family:Verdana; height:25px; line-height:25px;float:left;}
.fleft{float:left; text-align:left;}

.three_blue_footer_wrapper{
 background: url("../../images/greenfooterrep.png") repeat-x scroll 0 0 transparent;
    float: left;
    height: 59px;
    width: 100%; 
}
.three_blue_footer_wrapper .three_blue_footer{height: auto;margin: 0 auto;padding-top: 30px;width: 986px;}
.three_blue_footer_wrapper .three_blue_footer p{color: #999999;font-size: 12px;text-align: center;}

.ajax__calendar_container
{
    border: 1px solid #646464;
    background-color: #D2D2D2;
    color: #333333;
    padding: 3px;
}

.AutocompletedCSS{font-size:15px; border:1px solid #ccc; width:175px; background-color:White; padding:0px 10px; line-height:20px;}
.w1{width:50px;}
.w2{width:75px;}
.w2p{width:75px; }
.w3{width:100px;}
.w3p{width:115px; padding:0px 3px;}
.w4{width:125px;}
.w4{width:130px;padding:0px 3px;}
.w5{width:150px;}
.w6{width:175px;}
.w7{width:200px;}
.w8{width:225px;}
.w9{width:250px;}
.w10{width:300px;}
.w11{width:350px;}
.w12{width:400px;}
.w13{width:450px;}
.w14{width:500px;}

tr,td
{
    color: #000000;font-size:11px; font-family:Verdana; 
}
input[type="text"]{font-size:15px; border:1px solid #ccc; background-color:Black; padding:0px;  line-height:20px; color:White; width:150px;}
textarea{height:75px;width:432px;resize:none;color:White;font-size:15px; border:1px solid #ccc; background-color:Black; padding:0px;  }
legend
{
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:14px;
    font-weight:bold;
}
