﻿.GridHeader
{
    font-family: Verdana;
    font-size: 11px;
    color: #FFFFFF;
    background-color: #000000;
    padding-left: 20px;
    text-align: left !important;
    height: 18px;
}
.GridRowStyle
{
    font-family: Verdana;
    font-size: 11px;
    color: #000000;
   /* background-color: #D5F0FF;*/
   background-color:transparent;
    text-align: left;
    height: 22px;
    padding-left: 20px;
}
.GridRowStyle:hover
{
    color: #000000;
    /*background-color: #B3E7FF;*/
    background-color:transparent;
    padding-left: 20px;
    font-family: Verdana;
    font-size: 11px;
    text-align:left;
    height: 22px;
}
.GridAlternativeRow
{
	 font-family: Verdana;
	 font-size: 11px;
	color: #000000;
	/*background-color: #97DBFF;*/
	background-color:transparent;
	text-align:left; 
	padding-left: 20px;
	height: 22px;
}
.GridAlternativeRow:hover
{
    color: #666666;
    	padding-left: 20px;
    /*background-color: #B3E7FF;*/
    background-color:transparent;
    font-family:Tahoma;
    font-size:11px;
    text-align:left;
    height:22px;    
}
.GridSelectedRow
{
	 font-family: Verdana;
	 font-size: 11px;
	color: #000000;
	/*background-color: #2DECEC;*/
	background-color:transparent;
	text-align: center;
	padding-left: 10px;
	height: 22px;
}
.GridFooterStyle
{
    font-family: Verdana;
    font-size: 11px;
    color: White;
 /*   background-color: #0088CC;*/
 background-color:transparent;
    
}
.FormAlternativeRow
{
	 font-family: Verdana;
	 font-size: 11px;
	color: #000000;
	/*background-color: #97DBFF;*/
	background-color:transparent;
	text-align:left;
	padding-left: 10px;
	height: 22px;
}

.FormRowStyle
{
	 font-family: Verdana;
	 font-size: 11px;
	color: #000000;
	/*background-color: #D9F2FF;*/
	background-color:transparent;
	text-align:left;
	padding-left: 10px;
	height: 22px;
}
.GridFooter
{
    font-family: Verdana;
    font-size: 11px;
    color: #FFFFFF;
    /*background-color: #0088CC;*/
    background-color:transparent;
    padding-left: 10px;
    height: 25px;
    text-align:left;
}
.PaddingLeft
{
    padding-left:20px; 
}
.GridHeaderPadding
{
	font-family: Calibri;
	 font-size: 11px;
	color: #FFFFFF;
	/*background-color: #0088CC;*/
	background-color:transparent;
	padding-left: 20px;
	text-align:left !important;
	height:30px;
}