embed:-moz-handler-disabled, embed:-moz-handler-blocked, embed:-moz-handler-crashed, embed:-moz-handler-clicktoplay, applet:-moz-handler-disabled, applet:-moz-handler-blocked, applet:-moz-handler-crashed, applet:-moz-handler-clicktoplay, object:-moz-has-handlerref:-moz-handler-disabled, object:-moz-has-handlerref:-moz-handler-blocked, object:-moz-handler-crashed, object:-moz-handler-clicktoplay {
 -moz-binding: url("chrome://mozapps/content/plugins/pluginProblem.xml#pluginProblem") !important;
 display: inline-block;
 overflow: hidden;
}
:link, :visited { text-decoration: none }
h1, h2, h3, h4, h5, h6, pre, code { font-size: 1em; font-weight: 400; }
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0 }
body { height: 100%; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 12px; background: #f6f6f6; }
a img, :link img, :visited img { border: none }
.clear { clear: both; }
#help { display: none; }
.imgthumb { display: none; width: 70px; }
.imgthumb img { border: 1px solid #555; height:20px; width:25px; }
.hidden { display: none; }
html { overflow-y: scroll; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
::selection { text-shadow: none !important; background: #a8d1ff; color: #111; }
::-moz-selection {
text-shadow:none !important;
background:#a8d1ff;
color:#111;
}
::-webkit-input-placeholder {
color:#aaa !important;
}
:-moz-placeholder {
color:#aaa !important;
}
header { background: #fff;
background: -moz-linear-gradient(top,#fff 20%,#e7f1f9 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e7f1f9));
background: -webkit-linear-gradient(top,#fff 20%,#e7f1f9 100%);
background: -o-linear-gradient(top,#fff 20%,#e7f1f9 100%);
background: -ms-linear-gradient(top,#fff 20%,#e7f1f9 100%);
background: linear-gradient(to bottom,#fff 20%,#e7f1f9 100%);
margin: 0 0 25px 0; }
.top
{
background: #f8f8f8;
border-top: solid 1px #dae6f4;
box-shadow: inset 0 1px 0 rgba(255,255,255,0.6),0 1px 4px rgba(0,0,0,0.3);    
    
}

header .wrapper { height: 95px; position: relative; border: none;
                   }
.wrapper .nav { list-style: none; font-size: 12px; position: absolute; bottom: 0px; left: 0; width: 1033px; margin-left: -19px; }

.wrapper .nav li a { padding: 11px 13px; font-weight: 100 !important; text-decoration: none !important; display: block; border-radius: 0px 0px 0 0; }
.wrapper .nav li a:link, .wrapper .nav li a:visited, .wrapper #pill li a:link, .wrapper #pill li a:visited { color: #FFFFFF; background: #166085; text-shadow:  0px 0px 0px rgba(0,0,0,.3); } 
.wrapper #pill li.debug a:link, .wrapper #pill li.debug a:visited, .wrapper #pill li.debug a:hover { color: #fff; background: #166085; padding: 4px 10px; font-weight: 700 !important; text-decoration: none !important; display: block; border-left: 1px solid #415A66; }
.wrapper ul#topmenu li a.current { color: #182227; background: #166085; background: -moz-linear-gradient(top, #FFF 3%, #F6F6F6 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #FFF), color-stop(100%, #F6F6F6)); font-weight: bold !important; text-shadow: 1px 1px 0px rgba(255,244,255,.2); box-shadow: rgba(0,0,0, 0.10) 2px -2px 2px; -moz-box-shadow: rgba(0,0,0, 0.10) 2px -2px 2px; -webkit-box-shadow: rgba(0,0,0, 0.10) 2px -2px 2px; }
.wrapper .nav li a:active, .wrapper .nav li a:focus, .wrapper .nav li a:hover, .wrapper #pill li a:hover, .wrapper #pill li a:focus { color: #FFF; background: #0E1316; text-shadow: 1px 1px 0px rgba(0,0,0,.4); }
 
.wrapper .nav li { float: left; margin: 0 1px 0 0; position: relative; }
.wrapper .nav li.rightnav { float: right; margin: 0 0 0 0; font-size: 11px; }
.wrapper .nav li.rightnav a.first { padding: 4px 10px; font-weight: 100 !important; text-decoration: none !important; display: block; border-radius: 0 3px 3px 0; border-left: 1px solid #415A66; }
.wrapper .nav li.rightnav a.last { padding: 4px 10px; font-weight: 100; text-decoration: none !important; display: block; border-radius: 3px 0 0 3px; }
.nav li.rightnav .warning { position: absolute; top: -5px; left: -5px; }
.nav li .warning { position: absolute; top: -5px; right: -5px; font-size: 10px; color: #000; text-shadow: 1px 1px 0px rgba(255,255,255,.5); font-weight: bold; text-align: center; border-radius: 2px; display: block; width: 11px; border: 1px solid #FFCC33; background: #FFFF66; background: -moz-linear-gradient(top, #FFFF66 0%, #FFCC33 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFF66), color-stop(100%, #FFCC33)); }
.wrapper .nav li a em, .wrapper #pill li a em { font-style: normal; }
.wrapper .nav li a:hover em, .wrapper .nav li a:focus em { border-bottom: 1px dotted #666; }
.wrapper #pill { list-style: none; position: absolute; top: 0px; right: 0; font-size: 11px; }
.wrapper #pill li { float: right; }
.wrapper #pill li.leftnav a { padding: 4px 10px; font-weight: 100 !important; text-decoration: none !important; display: block; border-radius: 0 0 3px 0; ; border-left: 1px solid #415A66; }
.wrapper #pill li.rightnav a { padding: 4px 10px; font-weight: 100 !important; text-decoration: none !important; display: block; border-radius: 0 0 0 3px; }
.wrapper { margin-left: auto; margin-right: auto; width: 960px; text-align: left; padding-top: 1px; }
.wrapper p { line-height: 18px; margin: 0 0 20px 0; }
.wrapper #maincontent ul, .wrapper #maincontent ol { line-height: 18px; margin: 0 0 20px 30px; 
                                                    margin-left: 246px;
margin-right: -239px}
 
.inner { padding: 20px; }
header h1 { font-size: 25px; font-family: Georgia, Times, Times New Roman, serif; position: absolute; text-shadow: 1px 1px 0px #283840; top: 17px; left: 0; }
header h1 a:link, header h1 a:visited, header h1 a:hover { font-weight: normal !important; color: #E8EDF0 !important; text-decoration: none !important; }
header h1 a:hover { color: #FFF; }
.wrapper h2 { font-size: 18px; font-family: Georgia, Times, Times New Roman, serif; color: #777; margin: 0 0 20px 0; }
.wrapper h2 span { color: #bbb; font-style: italic; }
h3 { font-size: 19px; font-family: Georgia, Times, Times New Roman, serif; font-weight: normal; font-style: italic; color: #CF3805; margin: 0 0 20px 0; text-shadow: 1px 1px 0 #fff; }
h3.floated { font-size: 18px; font-weight: normal; font-family: Georgia, Times, Times New Roman, serif; padding: 2px 0 0 0; color: #CF3805; float: left; display: block; margin: 0 0 5px 0;
    height: 44px;
    width: 282px;
}

h3.floate 
{
    font-size: 28px; 
           font-weight: normal; 
           font-family: Georgia, Times, Times New Roman, serif;
           padding: 2px 0 0 0;
           color: #000000;
           float: left; 
           display: block;
           margin: 0 0 5px 0;
           height: 44px;
           width: 282px;
}

h5, div.h5 { margin: 10px 0 10px 0; font-size: 14px; line-height: 28px; display: block; padding: 3px 10px; background: #EEEEEE; background: -moz-linear-gradient(top, #f6f6f6 3%, #EEEEEE 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #f6f6f6), color-stop(100%, #EEEEEE)); border: 1px solid #cccccc; text-shadow: 1px 1px 0 rgba(255,255,255,0.5); color: #999; }
h5 a { text-decoration: none !important; }
h5 img, tr.folder img { vertical-align: middle; margin: 0 5px 0 0; opacity: .5; }
h5:hover img { opacity: 1; }
.bodycontent ul, .bodycontent ol { margin: 0 0 20px 30px; }
.bodycontent ul p, .bodycontent ol p { margin: 0 0 10px 0; }
#maincontent { width: 817px; float: left; text-align: left; font-family: Segoe UI; }
#sidebar { width: 225px; float: right; margin-bottom: -117px; }
#sidebar .section { background: #fff; border: 1px solid #ccc; padding: 20px; margin: 0 0 30px 0; line-height: 18px; }
#sidebar .section p.small { font-size: 11px; margin: 15px 0 0 0; }
#sidebar .section input.text { width: 175px; font-size: 11px; padding: 4px; border: 1px solid #666; }
#sidebar .snav { list-style: none; margin: 0 0 30px 0; }
#sidebar .snav ul { list-style: none; margin: 0; }
#sidebar .snav li { margin: 0 0 3px 0; }
#sidebar .snav li ul li { margin: 0 0 3px 0; }
#submit_line { margin-bottom: 15px; }
#sidebar #js_submit_line { margin: 0 0 0 12px; }
#sidebar .snav li a {  font-weight: bold; display: block; padding: 5px 15px 5px 15px; text-decoration: none; border-radius: 3px; }
#sidebar .snav li a:link, #sidebar .snav li a:visited { margin-left: 13px; color: #AFC5CF; background: #182227; text-shadow: 1px 1px 0px #0E1316; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }

#sidebar .snav li a.current { margin-left: 0px; cursor: default; color: #FFF; background: #CF3805 url('http://localhost:16627/mashabrum/Images/active.png') center left no-repeat !important; text-shadow: 1px 1px 0px #9F2C04; padding-left: 28px; border-radius: 0 3px 3px 0; }
#sidebar .snav li a.current:hover { text-shadow: 1px 1px 0px #9F2C04; margin-left: 0px; cursor: default; color: #FFF; background: #CF3805 url('../images/active.png') center left no-repeat !important; padding-left: 28px; }
#sidebar .snav li a:hover { color: #FFF; background: #0E1316; margin-left: 13px; text-shadow: 1px 1px 0px rgba(0,0,0,.25); }
#sidebar .snav li a em { font-style: normal; }
#sidebar .snav li a:hover em, #sidebar .snav li a:focus em { border-bottom: 1px dotted #666; }
#sidebar .snav li a.current:hover em, #sidebar .snav li a.current:focus em { border-bottom: 1px dotted #fff; }
#sidebar .snav small { color: #666; }
.edit-nav { margin: 0 0 15px 0; }
.edit-nav a { font-size: 10px; text-transform: uppercase; display: block; padding: 3px 10px; float: right; margin: 0 0 0 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background-repeat: no-repeat; background-position: 94% center; }
.edit-nav select { margin-top: -3px; float: right; padding: 1px; border: 1px solid #999; font-size: 11px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.edit-nav p { float: right; font-size: 11px; margin: 0; }
.edit-nav label { font-weight: 100; display: inline; font-size: 11px; color: #666; margin: 0; padding: 0; }
.edit-nav a#metadata_toggle { background-image: url('../images/plus.png'); padding-right: 20px; }
.edit-nav a#metadata_toggle.current { background-image: url('../images/minus.png'); padding-right: 20px; }
.edit-nav { height: 1%; }
.edit-nav a:link, .edit-nav a:visited { line-height: 14px !important; background-color: #182227; color: #ccc; font-weight: bold; text-decoration: none; text-shadow: 1px 1px 0px rgba(0,0,0,.2); -webkit-transition: all .10s ease-in-out; -moz-transition: all .10s ease-in-out; -o-transition: all .10s ease-in-out; transition: all .10s ease-in-out; }
.edit-nav a:hover, #sidebar .edit-nav a:hover, .edit-nav a.current { background-color: #CF3805; color: #FFF; font-weight: bold; text-decoration: none; line-height: 14px !important; text-shadow: 1px 1px 0px rgba(0,0,0,.2); }
.edit-nav a:link em, .edit-nav a:visited em { font-style: normal; }
.edit-nav a.current em, .edit-nav a:hover em, .edit-nav a:focus em { font-style: normal; border-bottom: 1px dott
.wrapper table { border-collapse: collapse; margin: 0px 0; }
0px 0; }
.wrapper table td  
{
vertical-align: top;
padding: 4px;
border-bottom: 1px solid #eee;
border-top: 1px solid #eee;
line-height: 15px !important;
 }
.wrapper table th { background: #FFF !important; padding: 2px 4px; font-size: 11px; border-top: 1px solid #FFF; color: #222; font-weight: bold; text-transform: uppercase; line-height: 20px !important; text-align: left; }
.wrapper table tr.head { }
.wrapper table td span { 
  }
.wrapper table.highlight { text-shadow: 1px 1px 0 #fff; }
.wrapper table.highlight tbody tr:nth-child(odd) { background: #f7f7f7; }
.wrapper table tr#tr-index a { font-weight: bold !important; }
.wrapper table.highlight tr:hover { background: #FFFFD5 !important; text-shadow: none; }
.wrapper table tr.currentpage { background: #FFFFD1; }
.wrapper table tr { border-bottom: 1px solid #eee; 
                    border-top: 2px solid #eee;
                     -webkit-transition: background-color .3s ease-in-out;
                      -moz-transition: background-color .3s ease-in-out; -o-transition:
                       background-color .3s ease-in-out; transition:
                        background-color .3s ease-in-out; }
table td a { font-weight: normal !important; }
.wrapper table.healthcheck tr td { font-size: 12px; }
.popup table td { padding: 4px; }
.popup table a:link, .popup table a:visited { color: #415A66; text-decoration: underline; }
.popup table a:hover { color: #333; text-decoration: underline; }
sup { color: #C00; font-weight: 100 !important; vertical-align: baseline; font-size: 0.8em; position: relative; top: -0.4em; }
#maincontent .main { padding: 20px; background: #fff; border: 1px solid #c8c8c8; margin: 0 0 30px 0; box-shadow: rgba(0,0,0, 0.06) 0px 0px 4px; -moz-box-shadow: rgba(0,0,0, 0.06) 0px 0px 4px; -webkit-box-shadow: rgba(0,0,0, 0.06) 0px 0px 4px; }
#maincontent .main .section { padding-top: 40px; }
#maincontent .main pre { font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; line-height: 15px; font-size: 11px; display: block; padding-bottom: 15px; color: #555; overflow: auto; }
form p { margin: 0 0 10px 0; }
form input.text, form select.text { color: #333; border: 1px solid #aaa; padding: 5px; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 12px; width: 510px; border-radius: 2px; }
form select.text { width: 521px; padding: 4px 5px; }
input.text:focus, select.text:focus, textarea.text:focus { outline: none; border: 1px solid #666 !important; box-shadow: rgba(0,0,0, 0.10) 0px 0px 6px; -moz-box-shadow: rgba(0,0,0, 0.10) 0px 0px 6px; -webkit-box-shadow: rgba(0,0,0, 0.10) 0px 0px 6px; }
form textarea { width: 635px; height: 420px; line-height: 18px; text-align: left; color: #333; border: 1px solid #aaa; padding: 5px; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 12px; border-radius: 2px; }
form input[readonly], form select[readonly], form textarea[readonly] { background: #eeeeee; border: 1px solid #999; color: #666; cursor: default; }
form input.capslock { background-image: url('../images/capslock.png'); background-position: right center; background-repeat: no-repeat; }
textarea#codetext { height: 660px; width: 99%; font-family: Consolas, Monaco, "Courier New", Courier, monospace; font-size: 12px; line-height: 18px; overflow: scroll; overflow-y: scroll; overflow-x: scroll; }
#menu-items span { text-transform: lowercase }
label { color: #222222; display: inline-block; font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: bold; margin: 0; padding: 0; }
label span.right { float: right; color: #999; display: inline-block; margin-right: 15px; font-weight: 100 !important; font-size: 11px !important; }
label span.right a:link, label span.right a:visited { font-size: 11px; color: #999; text-decoration: none; font-weight: 100 !important; }
label span.right a:focus, label span.right a:hover { font-size: 11px; color: #333; text-decoration: underline; font-weight: 100 !important; }
.inline label { display: inline-block; padding-top: 3px; }
#metadata_window { margin: 0 2px 20px 0; background: #f9f9f9; border: 1px solid #e8e8e8; padding: 15px 10px 5px 10px; border-radius: 2px; text-shadow: 1px 1px 0 rgba(255,255,255,.3); }
#metadata_window .rightopt { float: right; width: 48%; }
#metadata_window .leftopt { float: left; width: 48%; }
#metadata_window p { margin: 0 0 15px 0; }
#metadata_window input, #metadata_window select, #metadata_window textarea { width: 97%; font-size: 11px; padding: 3px; margin: 0 !important; }
#metadata_window input#post-menu-enable { width: 20px; padding: 0; margin: 0; }
#metadata_window textarea { height: 62px; margin-bottom: 0; line-height: 15px; }
#metadata_window select { width: 100%; }
#metadata_window select.text.autowidth { width: 155px; float: right; }
#metadata_window p.post-menu { margin-bottom: 5px; }
#metadata_window a.viewlink img { vertical-align: baseline; margin-left: 15px; opacity: .5 }
#metadata_window a.viewlink:hover img { opacity: 1 }
#metadata_window #menu-items { height: 50px; background: #222; padding: 5px 10px 0 10px; position: relative; }
#metadata_window #menu-items #tick { margin-top: -10px; left: 5px; position: absolute; }
#metadata_window #menu-items input, #metadata_window #menu-items select { border: 1px solid #000; border-radius: 0; }
#metadata_window #menu-items span label { text-shadow: none; display: inline-block; font-size: 11px; line-height: 16px; color: #e3e3e3; font-weight: normal; margin: 0; padding: 0; }
#metadata_window #menu-items select { padding: 2px 3px; }
#countdownwrap { display: inline-block; color: #999; font-size: 11px; font-weight: normal; float: right; }
#countdownwrap strong { color: #555; font-weight: normal; }
form table.formtable select { width: 275px; padding: 3px 4px; }
table.cleantable { border-collapse: collapse; margin: 0 0 0 0; }
table.cleantable tr { border: none; }
table.cleantable tr td { border: none; }
#autosavenotify { padding: 15px 0 0 13px; color: #666; text-shadow: 1px 1px 0 #fff; font-size: 11px; }
#pagechangednotify { margin: 0px; padding: 15px 0 0 13px; color: #CC0000; text-shadow: 1px 1px 0 #fff; font-size: 11px; }
p.backuplink { text-shadow: 1px 1px 0 rgba(255,255,255,.3); color: #888; font-size: 11px; margin: 20px -20px -20px -20px; padding: 10px 8px 10px 40px; background: #f9f9f9 url('../images/clock.png') 20px center no-repeat; border-top: 1px solid #eee; }
p.backuplink a { font-weight: 100 !important; }
input.submit { font: bold 13px Helvetica, Arial, sans-serif; text-decoration: none; padding: 7px 15px; text-shadow: 0 1px 0 rgba(255,255,255,.5); -webkit-transition: all .218s; -moz-transition: all .218s; -o-transition: all .218s; transition: all .218s; color: #333333; background: #dddddd; background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#eeeeee), to(#e1e1e1)); background: -moz-linear-gradient(linear, 0% 40%, 0% 70%, from(#eeeeee), to(#e1e1e1)); border: solid 1px #acacac; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; cursor: pointer; -moz-box-shadow: rgba(0,0,0, 0.06) 0px 0px 3px; -webkit-box-shadow: rgba(0,0,0, 0.06) 0px 0px 3px; box-shadow: rgba(0,0,0, 0.06) 0px 0px 3px; }
input.submit:focus, input.submit:hover { color: #111111; background: #eeeeee; background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#eeeeee), to(#dddddd)); background: -moz-linear-gradient(linear, 0% 40%, 0% 70%, from(#eeeeee), to(#dddddd)); border: solid 1px #aaaaaa; -moz-box-shadow: rgba(0,0,0, 0.15) 0px 0px 4px; -webkit-box-shadow: rgba(0,0,0, 0.15) 0px 0px 4px; box-shadow: rgba(0,0,0, 0.15) 0px 0px 4px; }
.leftsec { float: left; width: 50%; padding-bottom: 5px; }
.rightsec { float: left; width: 50%; padding-bottom: 5px; }
.rightsec input.text, .leftsec input.text { width: 92%; }
.rightsec select.text, .leftsec select.text { width: 96%; }
form input.title { font-size: 19px; border-color: #999; width: 635px !important; padding: 3px 4px; }
form input.secondary { width: 280px; }
form.manyinputs input.text { width: 230px; }
form.manyinputs textarea { width: 632px; height: 200px; }
form.manyinputs p { margin: 0 0 25px 0; }
.compdiv { padding: 10px 0 35px 0; }
table.comptable { margin: 0px !important; width: 645px; background: #fff; border: none; padding: 0; }
table.comptable tr td { font-size: 12px; border: none; padding: 0; }
table.comptable tr td code { font-size: 11px; color: #666; padding: 0 4px 0 0; display: block; font-family: Consolas, Monaco, "Courier New", Courier, monospace; }
table.comptable tr { border: none; border: none !important; }
table.comptable tr td input.newtitle { margin-bottom: 2px !important; }
.wrapper a.component { float: left; font-weight: bold; margin: 0 5px 5px 0; padding: 3px 10px; text-decoration: none; border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px; }
.wrapper a.component:link, .wrapper a.component:visited { color: #666; background: #fff; border: 1px solid #999; text-decoration: none; }
.wrapper a.component:hover { color: #AFC5CF; background: #182227; border: 1px solid #0E1316; text-decoration: none; }
.compdivlist { padding: 30px 0; text-align: center; margin: 0 0 0 15px; overflow: auto; }
.updated, .error { border: 1px solid #E6DB55; border-radius: 2px; background: #FFFBCC; background: -moz-linear-gradient(top, #FFFBCC 0%, #FFFBC1 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFBCC), color-stop(100%, #FFFBC1)); line-height: 22px; padding: 5px 10px; margin-bottom: 20px; }
.updated p, .error p { margin: 0; line-height: 22px; }
.error { color: #990000; border-color: #cc0000; background: #F9DFDD; background: -moz-linear-gradient(top, #FCF0EF 0%, #F9DFDD 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FCF0EF), color-stop(100%, #F9DFDD)); }
.deletedrow { background-color: #FFB19B }
.error code { color: #990000; font-size: 11px; font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; line-height: 14px; background: #fff; opacity: .8; padding: 1px; }
.updated, #temp_good_flash { color: #308000; }
.hint { color: #777; }
#filetypetoggle { color: #999; font-size: 12px; }
table td.delete { width: 20px; text-align: center; }
table td.delete a { font-size: 18px !important; line-height: 16px; }
.view { width: 48px; text-align: center; }
.editl { width: 40px; text-align: center; }
.editlw { width: 220px; text-align: left; }
.delete a:link, .delete a:visited { color: #999 !important; text-decoration: none !important; padding: 1px; display: block; line-height: 16px; font-size: 12px; font-weight: normal; -webkit-transition: all .05s ease-in-out; -moz-transition: all .05s ease-in-out; -o-transition: all .05s ease-in-out; transition: all .05s ease-in-out; }
.delete a:hover { background: #D94136 !important; color: #fff !important; text-decoration: none !important; padding: 1px; line-height: 16px; display: block; font-size: 12px; font-weight: normal; }
a.cancel:link, a.cancel:visited { font-weight: 100; color: #D94136 !important; text-decoration: underline; padding: 1px 3px; background: none !important; line-height: 16px; -webkit-transition: all .05s ease-in-out; -moz-transition: all .05s ease-in-out; -o-transition: all .05s ease-in-out; transition: all .05s ease-in-out; }
a.cancel:hover { font-weight: 100; background: #D94136 !important; color: #fff !important; text-decoration: none !important; padding: 1px 3px; line-height: 16px; }
a.cancel em { font-style: normal }
.wrapper .secondarylink { width: 20px; text-align: center; font-size: 12px; line-height: 14px; }
.wrapper .secondarylink a:link, .wrapper .secondarylink a:visited { color: #aaa; text-decoration: none; font-weight: normal; padding: 1px; display: block; line-height: 16px; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out; transition: all .15s ease-in-out; }
.wrapper .secondarylink a:hover { background: #415A66; color: #FFF; text-decoration: none; font-weight: normal; padding: 1px; display: block; line-height: 16px; }
table.simple td { border: 1px solid #eee; border-collapse: collapse; color: #555; font-size: 12px; padding: 4px 10px 4px 4px; }
table.simple { width: 100%; border: 1px solid #aaa; }
table.simple td.title { width: 125px; color: #222; font-weight: bold; }
footer { border-top: 1px solid #e3e3e3; text-shadow: 1px 1px 0 rgba(255,255,255,.4); /*margin:40px 0 0 0;*/ padding: 10px 0; font-size: 11px; color: #888; }
footer p { margin: 0 0 8px 0; }
footer a:link, footer a:visited { font-weight: 100; color: #888; }
footer a:focus, footer a:hover { font-weight: 100; color: #333; }
footer .gslogo a { float: right; width: 60px; text-align: right; opacity: .10; }
footer .footer-left { float: left; width: 85% }
footer .gslogo a:link, footer .gslogo a:visited { -webkit-transition: opacity .2s ease-in-out; -moz-transition: opacity .2s ease-in-out; -o-transition: opacity .2s ease-in-out; transition: opacity .2s ease-in-out; }
footer .gslogo a:hover { opacity: 1 }
.toggle { display: none; }
.editable { padding: 3px 1px; cursor: pointer; -webkit-transition: background-color .3s ease-in-out; -moz-transition: background-color .3s ease-in-out; -o-transition: background-color .3s ease-in-out; transition: background-color .3s ease-in-out; }
.editable:hover { background: #FCFBB8; }
.wrapper table td span.ERRmsg { color: #D94136; font-color: 12px; }
.wrapper table td span.OKmsg { color: #308000; font-color: 12px; }
.wrapper table td span.WARNmsg { color: #FFCC33; font-color: 12px; }
.wrapper table.highlight tr.img-highlight { background: #FFFFD1 !important; }
.wrapper table.highlight tr.img-highlight td a.primarylink { font-weight: bold !important; }
#sidebar .uploadform { padding: 5px 15px; }
.uploadify-queue-item { font-size: 10px; padding: 8px 15px; width: 190px; }
.uploadify-error { color: #D94136 !important; }
.uploadify-error .uploadify-progress-bar { background-color: #D94136 !important; }
#sidebar .snav li .cancel { float: right; }
#sidebar .snav li .cancel a:link, #sidebar .snav li .cancel a:visited, #sidebar .snav li .cancel a:hover { padding: 0 !important; margin: 0 4px 0 0 !important; width: 11px !important; opacity: .8; background: transaparent !important; }
.uploadify-progress { background-color: #FFF; margin-top: 5px; width: 97%; }
.uploadify-progress-bar { background-color: #AFC5CF; width: 1px; height: 4px; }
#sidebar .snav li.upload { display: block; border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px; -webkit-border-radius: 4px; margin-left: 13px; color: #FFF; background: #182227; font-weight: 100; }
.uploadify-button { width: 100%; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; display: block; font-weight: 800; color: #AFC5CF; background: #182227; text-shadow: 1px 1px 0px #0E1316; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; height: auto !important; line-height: 15px !important; }
.uploadify:hover .uploadify-button { background-color: #0e1316; color: #ffffff; text-shadow: 1px 1px 0px #000; }
.uploadify-button-text { padding: 5px 15px 5px 15px; display: block; }
#uploadify object { position: absolute; left: 0; right: 0; cursor: pointer; width:300px; }
textarea.copykit { font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; font-size: 12px; outline:nonecolor:#666;
border: 1px solid #aaa; line-height: 17px; padding: 4px; border-radius: 2px; -moz-border-radius: 2px; -khtml-border-radius: 2px; -webkit-border-radius: 2px; width: 98%; height: 70px; margin-bottom: 10px; }
#handw { z-index: 1; padding: 8px; background: #000; opacity: .80; color: #fff; font-size: 11px; width: 150px; text-align: center; margin: -50px 0 0 0; }
#handw span { font-size: 15px; font-weight: bold; }
#jcropform .submit { margin: 20px 0 0 0; }
#jcrop_open { }
a.updatelink:link, a.updatelink:visited { color: #888; }
a.updatelink:hover, a.updatelink:focus { color: #333; }
#filebrowser { background: #fff; }
table tr.enabled { background: #fff; }
#maincontent table tr.enabled td span { color: #333; }
table tr.disabled { background: #f6f6f6; }
table tr.disabled td b { color: #666; }
body#index { background: #f9f9f9; }
#index header, #resetpassword header, #setup header, #install header, #setup .gslogo, #install .gslogo, #index .gslogo, #resetpassword .gslogo { display: none; }
#index #maincontent, #resetpassword #maincontent, #setup #maincontent, #install #maincontent { width: 100%; }
#index #maincontent .main, #resetpassword #maincontent .main, #setup #maincontent .main, #install #maincontent .main { margin: 50px auto 0 auto; float: none; text-align: left; border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; box-shadow: rgba(0,0,0, 0.05) 0px 0px 10px; -moz-box-shadow: rgba(0,0,0, 0.05) 0px 0px 10px; -webkit-box-shadow: rgba(0,0,0, 0.05) 0px 0px 10px; background: #FFF; width: 645px; }
#setup #maincontent .main { width: 270px; }
#setup input.text { width: 250px; }
#index #maincontent .main, #resetpassword #maincontent .main { width: 270px; border-bottom: 1px solid #999; border-right: 1px solid #999; background: #FFF; text-shadow: 1px 1px 0 #fff; background: -moz-linear-gradient(top, #f9f9f9 5%, #eeeeee 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f9f9f9), color-stop(100%, #eeeeee)); }
#resetpassword form input.text, #index form input.text { width: 255px; font-size: 18px; padding: 5px; margin-top: 2px; }
#index form input.submit { }
#index p.cta, #resetpassword p.cta { font-size: 11px; margin: 0 0 0 0; color: #999; text-align: center; }
#index form p, #resetpassword form p { margin-bottom: 15px; }
#index p.cta a, #resetpassword p.cta a { font-weight: 100; }
#setup .error, #setup .updated, #install .error, #install .updated, #index .error, #index .updated, #resetpassword .error, #resetpassword .updated { margin: 25px auto -23px auto; width: 290px; line-height: 18px; padding: 5px 10px; }
#setup footer, #install footer, #index footer, #resetpassword footer { width: 270px; border-top: none; margin: 0 auto 20px auto; text-align: center; }
#index .footer-left, #resetpassword .footer-left { float: none; width: 100%; }
.desc { font-size: 12px; line-height: 17px; border-bottom: 1px dotted #ccc; padding: 0 0 15px 0; margin: 0 0 5px 0; }
#filter-search { margin: 0 0 10px 0; display: none; }
#filter-search input.text { width: 250px; font-size: 11px; padding: 3px; }
#createfolder { font-weight: 100; font-size: 11px; text-decoration: underline !important; }
h5 .crumbs, div.h5 .crumbs { float: left; }
#new-folder { float: left; padding-left: 5px; }
#new-folder form { display: none; }
#new-folder .cancel { font-size: 11px; text-shadow: none !important; }
#new-folder input.submit { font-size: 11px; padding: 3px; }
#new-folder input.text { width: 120px; font-size: 11px; padding: 3px; }
#edit #dropdown { display: inline-block; padding: 3px 15px; position: relative; }
#edit #dropdown h6 { font-weight: bold; font-size: 11px; color: #777; margin-bottom: 5px; font-weight: 100; padding-right: 15px; display: inline-block; background: transparent url('../images/utick.png') right center no-repeat; }
#edit #dropdown:hover h6 { visibility: hidden; }
#edit #dropdown ul { display: none; text-shadow: 1px 1px 0 #fff; list-style: none; margin: 0; font-size: 11px; opacity: 0; background: #f6f6f6; border: 1px solid #ccc; position: absolute; top: -5px; left: 5px; min-width: 100px; border-radius: 2px; -moz-border-radius: 2px; -khtml-border-radius: 2px; -webkit-border-radius: 2px; -webkit-transition: opacity .3s ease-in-out; -moz-transition: opacity .3s ease-in-out; -o-transition: opacity .3s ease-in-out; transition: opacity .3s ease-in-out; box-shadow: rgba(0,0,0, 0.2) 1px 1px 3px 0; -moz-box-shadow: rgba(0,0,0, 0.2) 1px 1px 3px 0; -webkit-box-shadow: rgba(0,0,0, 0.2) 1px 1px 3px 0; overflow: hidden; }
#edit #dropdown li { line-height: 22px; border-bottom: #eee 1px solid; padding: 0 8px }
#edit #dropdown li:last-child { border: none; }
#edit #dropdown li a:link, #edit #dropdown li a:visited, #edit #dropdown li a:hover { font-weight: 100; color: #666; text-decoration: none; display: block; }
#edit #dropdown li:hover { background: #fff; }
#edit #dropdown li:hover a { color: #cc0000; }
#edit #dropdown li.alertme:hover { background: #cc0000; }
#edit #dropdown li.alertme:hover a { color: #FFF; text-shadow: none; }
#edit #dropdown:hover ul { display: block; opacity: 1; }
.wrapper #maincontent ul#menu-order { list-style: none; margin: 0 0 25px 0; }
#menu-order li { text-shadow: 1px 1px solid rgba(255,255,255,.3); cursor: move; display: block; margin: 2px 0; border: 1px solid #eee; background: #fbfbfb; padding: 5px 10px; }
#menu-order li:hover { border: 1px solid #ccc; background: #f6f6f6; }
#menu-order li em { float: right; color: #666; }
#menu-order li.placeholder-menu { height: 18px; background: #FFB164; border: 1px solid #FF9933; }
#theme-edit #maincontent { width: 100%; }
#theme-edit #sidebar { display: none; }
#gsdebug { border: 1px solid #FF9933; padding: 5px; background: white; height: 300px; overflow: scroll; }
#index .wrapper table { border-collapse: collapse; margin: 0; width: 100%; }
.ipl * { vertical-align: middle; }
.ipl label { display: inline-block; margin-left: 3px; }
.borderless, .borderless tr, .borderless tr td { border: 0px solid !important; }
.borderless input.text { width: 262px; border: 3px solid Black; }
#DataPager1 span { display: none; }
.lv .text { width: auto !important; height: auto !important; }
.fv { font-family: Segoe UI; }
.rbl label { display: inline-block; font-weight: normal; margin: 0 5px 0 1px; }
.rbl * { vertical-align: middle; }
.medium { font-size: 12px !important; padding: .4em 1.5em .42em !important; }
.small { font-size: 11px !important; padding: .2em 1em .275em !important; }
/* color styles 
---------------------------------------------- */

/* black */
.black { color: #d7d7d7; border: solid 1px #333; background: #333; background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000)); background: -moz-linear-gradient(top, #666, #000); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover { background: #000; background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000)); background: -moz-linear-gradient(top, #444, #000); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active { color: #666; background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444)); background: -moz-linear-gradient(top, #000, #444); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}
/* gray */
.gray { color: #e9e9e9; border: solid 1px #555; background: #6e6e6e; background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757)); background: -moz-linear-gradient(top, #888, #575757); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover { background: #616161; background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b)); background: -moz-linear-gradient(top, #757575, #4b4b4b); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active { color: #afafaf; background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888)); background: -moz-linear-gradient(top, #575757, #888); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}
/* white */
.white { color: #606060; border: solid 1px #b7b7b7; background: #fff; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed)); background: -moz-linear-gradient(top, #fff, #ededed); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover { background: #ededed; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc)); background: -moz-linear-gradient(top, #fff, #dcdcdc); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active { color: #999; background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff)); background: -moz-linear-gradient(top, #ededed, #fff); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
/* orange */
.orange { color: #fef4e9; border: solid 1px #da7c0c; background: #f78d1d; background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20)); background: -moz-linear-gradient(top, #faa51a, #f47a20); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover { background: #f47c20; background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015)); background: -moz-linear-gradient(top, #f88e11, #f06015); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active { color: #fcd3a5; background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a)); background: -moz-linear-gradient(top, #f47a20, #faa51a); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
/* red */
.red { color: #faddde; border: solid 1px #980c10; background: #d81b21; background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317)); background: -moz-linear-gradient(top, #ed1c24, #aa1317); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover { background: #b61318; background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115)); background: -moz-linear-gradient(top, #c9151b, #a11115); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active { color: #de898c; background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24)); background: -moz-linear-gradient(top, #aa1317, #ed1c24); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}
/* blue */
.blue { color: #d9eef7; border: solid 1px #0076a3; background: #0095cd; background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5)); background: -moz-linear-gradient(top, #00adee, #0078a5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover { background: #007ead; background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e)); background: -moz-linear-gradient(top, #0095cc, #00678e); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active { color: #80bed6; background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee)); background: -moz-linear-gradient(top, #0078a5, #00adee); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
/* rosy */
.rosy { color: #fae7e9; border: solid 1px #b73948; background: #da5867; background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f)); background: -moz-linear-gradient(top, #f16c7c, #bf404f); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.rosy:hover { background: #ba4b58; background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845)); background: -moz-linear-gradient(top, #cf5d6a, #a53845); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.rosy:active { color: #dca4ab; background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c)); background: -moz-linear-gradient(top, #bf404f, #f16c7c); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}
/* green */
.green { color: #e8f0de; border: solid 1px #538312; background: #64991e; background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e)); background: -moz-linear-gradient(top, #7db72f, #4e7d0e); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover { background: #538018; background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c)); background: -moz-linear-gradient(top, #6b9d28, #436b0c); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active { color: #a9c08c; background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f)); background: -moz-linear-gradient(top, #4e7d0e, #7db72f); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}
/* pink */
.pink { color: #feeef5; border: solid 1px #d2729e; background: #f895c2; background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab)); background: -moz-linear-gradient(top, #feb1d3, #f171ab); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
}
.pink:hover { background: #d57ea5; background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4)); background: -moz-linear-gradient(top, #f4aacb, #e86ca4); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
}
.pink:active { color: #f3c3d9; background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3)); background: -moz-linear-gradient(top, #f171ab, #feb1d3); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
}
a:link.wc, a:visited.wc { color: White; }
a:link.nl, a:visited.nl { text-decoration: none; }
.fv .item span { }
.fv .item label { display: inline-block; width: 200px; }
.fv .item p { margin: 2px 0; padding: 2px; }
.fv .item p:nth-child(2n) { background-color: ghostwhite; }
.db { display: block; }
.sfcol td:nth-child(n) { font-weight:bold; }
input, select, textarea, button { outline:none; resize:none; font-family:Segoe UI; }
textarea.short { height:90px; }
sup { margin-left:4px; }
.subtbl { border-style: none;
    border-color: inherit;
    border-width: medium;
width:77%; 
    margin:0; padding:0; }
.subtbl input[type=text] { width:200px; }