﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TabControl.ascx.cs" Inherits="BT_RSC.UserControl.TabControl" %>


<%--
<table id="Table1" cellSpacing="0" cellPadding="0" width="976" border="0" align="left">
    <tr>
        <td>--%>
<%--<ul id="nav-one" class="dropmenu">
    <li>
        <asp:Label ID="lblMenuControl" runat="server" CssClass="AppMenu" DESIGNTIMEDRAGDROP="19"
            Width="100%"></asp:Label>
    </li>
    </ul>--%>
<%--</td>
    </tr>
</table>--%>
<ul id="nav-one" class="dropmenu">

                <span style="color:#007acc; padding-left:10px; font-size:large; padding-top:10px;"><a href="#"><span style="color:#007acc;">&nbsp;&nbsp;&nbsp;List</span></a>
               <span style="color:#007acc; padding-left:10px; font-size:large; padding-top:10px;">|<a href="#"><span style="color:#007acc;"> Members</span></a></span>
               <span style="color:#007acc; padding-left:10px; font-size:large; padding-top:10px;">|<a href="#"> <span style="color:#007acc;">NOC</span></a>
               <span style="color:#007acc; padding-left:10px; font-size:large; padding-top:10px;">|<a href="#"> <span style="color:#007acc;">Reports</span></a>
          
    

</ul>
<asp:HiddenField ID="HidLoginID" runat="server" />
<asp:HiddenField ID="HidUserLevel" runat="server" />

