﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TopHeader.ascx.cs" Inherits="BT_RSC.UserControl.TopHeader" %>
 <div class="heaer-Outer">
        <div class="header-outer-inner">
            <div class="LogoInner">
                <div class="Logo">
                Complaint Management System
                </div>
            </div>
        </div>
    </div>
      <div class="heaer-Outer" style="height:25px;">
        <div class="header-outer-inner" style="height:25px;">
            <div class="LogoInner">
                <div class="Logo">
                  <asp:Label ID="lblCustomMessage" runat="server" CssClass="AppCustomMsg"></asp:Label>
                </div>
            </div>
        </div>
    </div>